body {
  background: #333;
  color: #AAA;
  font-size: 16px;
}

body > header {
  display: block;
  background: #555;
  height: 3rem;
  padding: 0 1rem;
}

body > header > h1 {
  display: inline;
  color: #efef8f;
  font-size: 2rem;
  line-height: 3rem;
}

body > header > menu {
  display: inline;
  line-height: 3rem;
  font-size: 1rem;
  float: right;
  margin: 0;
  padding: 0;
}

body > header > menu > li {
  display: inline-block;
  padding: 0 1rem;
}

body > header > menu > li:hover {
  background: #efef8f;
  color: #333;
}

#tickets {
  margin: auto;
}

#tickets ul {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 21rem;
  min-height: 5rem;
  padding: 0 .5rem;
  transition: width .1s ease-out;
}

#tickets ul:hover {
  background: #2c2c2c;
}

#tickets ul.collapsed {
  width: 2rem;
  background: #222;
  margin-left: .1rem;
}
#tickets ul.collapsed > li.ticket {
  visibility: hidden;
}

#tickets li.ticket {
  display: inline-block;
  width: 20rem;
  height: 8rem;
  border: 1px dotted #444;
  box-shadow: 0 0 10px #000;
  margin: .5rem;
  vertical-align: top;
  transition: box-shadow .2s linear;
  z-index: 0;
}
#tickets li.ticket:hover {
  box-shadow: 0 0 15px #efef8f;
}

#tickets li.ticket .content {
  display: block;
  margin: .9rem auto;
  width: 18rem;
  height: 4rem;
  background: transparent;
  border: 1px solid #444;
  color: #efef8f;
}

#tickets > ul > header {
  display: block;
  font-size: 1.5rem;
  padding-left: .6rem;
  margin-bottom: -.8rem;
  z-index: -1;
}
#tickets > ul > header:hover::before {
  content: "collapse » "
}
#tickets ul.collapsed > header {
  transform: rotate(90deg);
}
#tickets > ul.collapsed > header:hover::before {
  content: ""
}
