body {
  background: #333;
  color: #AAA;
  font-size: 16px;
}

body > header {
  display: block;
  background: #555;
  height: 3rem;
  padding: 0 1rem;
}

body > header > h1 {
  display: inline;
  color: #efef8f;
  font-size: 2rem;
  line-height: 3rem;
}

body > header > menu {
  display: inline;
  line-height: 3rem;
  font-size: 1rem;
  float: right;
  margin: 0;
  padding: 0;
}

body > header > menu > li {
  display: inline-block;
  padding: 0 1rem;
}

body > header > menu > li:hover {
  background: #efef8f;
  color: #333;
  cursor: pointer;
}

#tickets {
  margin: auto;
}

#tickets a {
  color: #efefaf;
  text-decoration: none;
}
#tickets a:hover {
  text-decoration: underline;
}

#tickets > ul {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 21rem;
  min-height: 5rem;
  padding: 0 .5rem;
  transition: width .1s ease-out;
}

#tickets > ul:hover {
  background: #2c2c2c;
}

#tickets > ul.collapsed {
  width: 2rem;
  background: #222;
  margin-left: .1rem;
  float: right;
}
#tickets > ul.collapsed > li.ticket {
  visibility: hidden;
  width: 2rem;
}

#tickets li.ticket {
  display: inline-block;
  width: 20rem;
  min-height: 8rem;
  border: none;
  border-top: 5px solid #444;
  box-shadow: 0 0 10px #000;
  margin: .5rem;
  vertical-align: top;
  transition: box-shadow .2s linear;
  z-index: 0;
}
#tickets li.ticket:hover {
  box-shadow: 0 0 15px #efef8f;
}
#tickets li.ticket.prio-a { border-top-color: #F00; }
#tickets li.ticket.prio-b { border-top-color: #F80; }
#tickets li.ticket.prio-c { border-top-color: #FF0; }

#tickets li.ticket.due-urgent .static .due-date { color: #F00; }
#tickets li.ticket.due-soon .static .due-date { color: #FF0; }

#tickets li.ticket .static .content,
#tickets li.ticket .inputs .content {
  display: block;
  margin: .9rem auto;
  margin-bottom: .4rem;
  width: 18rem;
  height: 4rem;
  color: #efef8f;
}
#tickets li.ticket .static .content {
  background: transparent;
  border: 1px solid #444;
}

#tickets li.ticket .inputs { display: none; }
#tickets li.ticket.edit .inputs { display: block; }
#tickets li.ticket.edit .static { display: none; }

#tickets li.ticket .inputs input,
#tickets li.ticket .inputs textarea {
  background: #222;
  border: 1px solid #444;
  color: #efef8f;
}
#tickets li.ticket .static .due-date,
#tickets li.ticket .inputs input {
  display: inline-block;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 .5rem;
  vertical-align: top;
}
#tickets li.ticket .static .show-more {
  width: 100%;
  height: 1rem;
  text-align: center;
  font-weight: bold;
  border: none;
  background: transparent;
  color: #444;
  transition: color .2s ease;
  cursor: pointer;
}
#tickets li.ticket .static .show-more:hover {
  color: #888;
}

#tickets li.ticket .static .dataset,
#tickets li.ticket .static .due-date,
#tickets li.ticket .inputs .priority {
  margin-left: .8rem;
}

#tickets li.ticket .static .dataset {
  list-style: none;
  padding: .4rem;
  overflow: hidden;
}
#tickets li.ticket .static .dataset.collapsed {
  height: 0;
  padding: 0;
}
#tickets li.ticket .static .dataset .dataset-key,
#tickets li.ticket .static .dataset .dataset-value {
  display: inline-block;
  vertical-align: top;
}
#tickets li.ticket .static .dataset .dataset-key { width: 25%; }
#tickets li.ticket .static .dataset .dataset-key::after { content: ":"; }
#tickets li.ticket .static .dataset .dataset-value {
}

#tickets li.ticket .inputs input[type="button"] {
  height: 1.6rem;
  line-height: 1.6rem;
}

#tickets > ul > header {
  display: block;
  font-size: 1.5rem;
  padding-left: .6rem;
  margin-bottom: -.8rem;
  z-index: -1;
  transition: margin-bottom .1s ease;
}
#tickets > ul > header:hover {
  margin-bottom: 0;
}
#tickets > ul > header:hover::before {
  content: "collapse » "
}
#tickets > ul.collapsed > header {
  transform: rotate(90deg);
}
#tickets > ul.collapsed > header:hover::before {
  content: ""
}

#backlog, #done { opacity: .5; }
#backlog:hover, #done:hover { opacity: 1; }
